.cw {
  margin: 20px auto;
}
h2 {
  text-align: left;
  font-size: calc(30px + 2vmin);
}
.col-4 {
  border: 2px solid rgb(177, 54, 54);
  border-radius: 15px;
  padding: 10px;
  width: 27%;
  justify-content: center;
}
.row {
  justify-content: space-around;
  margin: 30px;
}
